<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/event_management?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">PraHiv@2002</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>
        <property name="format_sql">fasle</property>

        <mapping class="com.eventmanagement.entity.Organizer"/>
        <mapping class="com.eventmanagement.entity.Venue"/>
        <mapping class="com.eventmanagement.entity.Attendee"/>
        <mapping class="com.eventmanagement.entity.Vendor"/>
        <mapping class="com.eventmanagement.entity.Event"/>
    </session-factory>
</hibernate-configuration>
